.credits-bar {
    position: fixed;
    left: 1rem;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    &::before {
        content: "";
        display: block;
        width: 0.5px;
        height: 8rem;
        background-color: $bg-dark;
    }
}


.credits {
    transform: rotate(180deg);
    font-size: 0.75rem;
    writing-mode: vertical-lr;
    margin: 0.5rem 0;
    display: block;
    color: $text-dark;
    
    a {
        color: $link-blue;
    }
    
}