footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.65rem;

  a {
    color: $accent-color-lighter;
    font-weight: 500;
    transition: all 150ms ease-in-out;

    &:hover {
      color: $text-dark;
    }
  }

  .contact-links {
    display: flex;
    gap: 2rem;
    align-items: center;

    i {
      font-size: 1.2rem;
    }
  }

  .attribution {
    display: flex;
    gap: 0.3rem;
  }
}
