h2 {
  font-size: 1.85rem;

  .kunai {
    display: inline-block;
    width: 2rem;
    margin-left: 0.5rem;

    &.spin {
      animation: spinRight 300ms linear 1;
    }
  }
}

@keyframes spinRight {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
