.display-notes {
  display: grid;
  place-content: center;
  padding: 1rem 0;
}

.notes-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.note-card {
  width: 18rem;
  height: 13rem;
  padding: 1rem;
  border-radius: 0.75rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;

  position: relative;
  box-shadow: $box-shadow;

  &.marked {
    #bookmark {
      color: $text-marked;

      &:hover::after {
        content: "unmark";
      }
    }
  }

  .note-title {
    width: 80%;
  }

  .note-content {
    overflow-y: auto;
    font-size: 0.9rem;
    font-family: $secondary-font;
    line-height: 1.6;

    &::-webkit-scrollbar {
      width: 0.3rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: none;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background-color: $fg-light;
    }
  }

  .user-badge {
    width: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    padding: 5px;
    box-shadow: $box-shadow;
  }

  #bookmark {
    font-size: 1.25rem;
    position: absolute;
    bottom: -0.5rem;
    right: 0rem;
    padding: 2px;
    cursor: pointer;
    color: $text-dark;

    &:hover::after {
      content: "mark";
      display: block;
      padding: 0.3rem;
      width: 2rem;
      font-size: 0.75rem;
      font-weight: 500;
      text-shadow: none;
      font-family: $primary-font;

      position: absolute;
      top: -1.5rem;
      left: -2.5rem;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;

    .edit-btn {
      background-color: $btn-blue;
    }

    .delete-btn {
      background-color: $btn-red;
    }
  }
}
