body.dark-theme {
    background-color: $bg-dark;
    color: $text-light;

    h2 {
        color: $text-night;
    }

    .note-form {
        input, textarea {
            outline: none;
            &:focus {
                border: 1px solid $border-night;
            }
        }
    }

    .note-card {
        background-color: $bg-dark;
        color: $text-light;
        box-shadow: 0 0 8px $border-dark;

        .user-badge {
            box-shadow: 0 0 5px $text-night;
        }

        .note-title {
            color: $text-night;
        }

        #bookmark {
            text-shadow: none;
            
            &:hover::after {
                color: $text-night;
            }
        }
    }

    .attribution-bar::before {
        background-color: $bg-light;
    }

    .attribution {
        color: $text-light;

        span {
            color: $text-light;
        }
        
        a {
            color: $text-night;
        }
        
    }



    .social-sidebar {
        .sidebar-toggle-btn {
            background-color: $text-night;
        }
    }

    .social-list {    
        .fab {
            color: $text-night;
        }

        li:hover::before {
            color: $text-night;
            font-weight: 400;
        }

        .moon-icon {
            display: none;
        }

        .sun-icon {
            display: block;
        }
    
        &::after {
            background-color: $text-night;
        }
    }
}